/Jg3_Bsp_201_Geschwindigkeitsmesser/nbproject/private/
/Jg3_Bsp_201_Geschwindigkeitsmesser/build/
/Jg3_Bsp_201_Geschwindigkeitsmesser/dist/
/Bsp_202_RadioStation/nbproject/private/
/Bsp_202_RadioStation/build/
/Bsp_202_RadioStation/dist/